//===========================================
//  Colors
//===========================================
//-------------------------------------------
//  Color Pallette
//-------------------------------------------
$white            : #FFFFFF;
$alabaster        : #F9F9F9;
$tundora          : #4B4B4B;
$gray             : #7E7E7E;
$mercury          : #E6E6E6;
$dodgerblue       : #3282FF;
$pastelgreen      : #6FDCA0;
$citrinewhite     : #FCF9EA;
//-------------------------------------------
//  Color Use
//-------------------------------------------
$rgb--bg-body                   : $alabaster;
$rgb--bg-mid                    : $white;
$rgb--bg-nav                    : $white;
$rgb--text-body                 : $tundora;
$rgb--text-bio-blurb            : $gray;
$rgb--text-contact              : $gray;
$rgb--default-link              : $tundora;
$rgb--default-link-hover        : $dodgerblue;
$rgb--default-link-active       : $rgb--default-link-hover;
$rgb--hr                        : $mercury;
$rgb--selected-text             : $pastelgreen;
$rgb--selected-text-bg          : $citrinewhite;
