//===========================================
//  Section: Contact-Info
//===========================================
#contact {
  &-info {
    p,
    ul {
      color: $rgb--text-contact;
    }
    @media #{$res-med} {
      font-size: rem(19.2px);
      a {
        font-size: rem(20.8px);
      }
      p {
        padding: 0 10%;
      }
    }
  }
  &-items {
    margin: rem(48px) 0;
    a {
      font-weight: $font-weight--semi-bold;
      font-size: rem(16px);
      color: $gray;
      padding-top: rem(8px);
      padding-bottom: rem(5.6px);
      &:hover,
      &:active {
        color: $rgb--default-link-hover;
      }
    }
    li {
      display: block;
      margin-top: rem(20px);

      // match bg-img size to center vertically
      line-height: 20px;
    }
    span {
      background-repeat: no-repeat;
      background-size: 20px 20px;
      display: inline-block;
      padding: 0 10px 0 25px;
    }
  }
}
.contact {
  &-phone span {
    background-image: url('#{$path-img}/mobile.png');
  }
  &-email span {
    background-image: url('#{$path-img}/envelope.png');
  }
}
