//===========================================
//  Variables
//===========================================
//-------------------------------------------
//  Asset Paths
//-------------------------------------------
$path-img: '../img';

//-------------------------------------------
//  Media Query Breakpoints
//-------------------------------------------
//Small < 768px
$res-sml: '(max-width: 767px)';

//Medium >= 768px
$res-med: '(min-width: 768px)';

//Large >= 1024px
$res-lrg: '(min-width: 1024px)';
